<html>
<head>
  <meta charset="utf-8">
  <title>Bit-Mo</title>
  <style type="text/css">
  body {
    color: purple;
    background-color: #d8da3d }
  </style>
  <link href="assets/css/custom.css">
  <script src="assets/js/bit-mo.js"></script> 
</head>
<body>
<h1>Calculadora Bit-Mo</h1>
<style type="text/css">
  body {
    color: purple;
    background-color: #d8da3d }
  </style>
<h2> 
<input style="color:purple;" type='text' name='operaciones'>
<div>
	<ul>
<input type = 'button' value = 'DEC'> 
<input type = 'button' value = 'OCT'> 
<input type = 'button' value = 'HEX'> 
    </ul>
</div>
<div>
	<ul>
<input type = 'button' value = '1'> 
<input type = 'button' value = '0'> 
<input type = 'button' value = 'AC'> 
    </ul>
</div>
<div> 
	<ul>
<input type = 'button' value = '+'> 
<input type = 'button' value = '-'> 
<input type = 'button' value = 'C'>
    </ul>
</div>
<div>
	<ul>
<input type = 'button' value = '/'> 
<input type = 'button' value = '*'> 
<input type = 'button' value = '='> 
     </ul>
</div>
</h2>
</body>
</html>
